/* GLOBAL******************************************************************* */
    .bgimg {

    }
    .bgimg .sun{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: radial-gradient(circle, rgba(255,251,0,1) 0%, rgba(255,251,0,.9) 51%, rgba(255,251,0,.8) 100%);;
        box-shadow:1px 1px 2px rgba(255,251,0,.7), 0 0 50px rgba(255,251,0,.6), 0 0 5px rgba(255,251,0,.5);
        z-index: -998;
        top:100px;
        left:50px;
        position: fixed;
        animation-name:sunshine;
        animation-duration:4s;
        animation-iteration-count: infinite;
        animation-timing-function: alternate;
    }
    @keyframes sunshine{
        0%{
            box-shadow:10px 100px 100px rgba(255,251,0,.5), 0 0 100px rgba(255,251,0,.6),300px 1000px 50px rgba(255,251,0,.5);
        }
        100%{
            box-shadow:1px 1px 2px rgba(255,251,0,.7), 0 0 50px rgba(255,251,0,.6), 0 0 5px rgba(255,251,0,.5);
        }
    }
    
    .bgimg img {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: .5;
        z-index: -999;
        min-height: 100%;
        width: 100%;
    }
    .sticky{
        margin: 0px;
        padding: 0px;
        
    }

    .sticky img {
        position: sticky;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: .5;
        z-index: -995;
        height: 100%;
        width: 100%;
        padding-top: 10px;
    }
    
    /* BTN */
    .btn {
        display: inline-block;
        padding: 10px 30px;
        text-decoration: none;
        color: #fff;
        background: #1b2a49;
        border-radius: 5px;
    }
    .btn:hover {
        background: #395896;
    }
    .btn-inverse {
        color: #00171a;
        background: #9be3de;
    }
    .btn-inverse:hover {
        background: #7ab6b3;
    }
    /* GRID */
    .full-width {
        width: 100%;
    }
    .fixed-width {
        width: 100%;/*總寬度*/
        margin: auto;
    }
    .col-1{
        width: calc(100% / 12 * 1);
    }
    .col-2{
        width: calc(100% / 12 * 2);
    }
    .col-3{
        width: calc(100% / 12 * 3);
    }
    .col-4{
        width: calc(100% / 12 * 4);
    }
    .col-5{
        width: calc(100% / 12 * 5);
    }
    .col-6{
        width: calc(100% / 12 * 6);
    }
    .col-7{
        width: calc(100% / 12 * 7);
    }
    .col-8{
        width: calc(100% / 12 * 8);
    }
    .col-9{
        width: calc(100% / 12 * 9);
    }
    .col-10{
        width: calc(100% / 12 * 10);
    }
    .col-11{
        width: calc(100% / 12 * 11);
    }
    .col-12{
        width: calc(100% / 12 * 12);
    }
    [class^="col"]{
        float: left;
        padding: 15px;
    }
    /* GRID DONE */
    /* NAV ***************************************************/
    nav {
        /*height: 60px;*/
        background: #00909e;
        animation: roll-in-left .6s cubic-bezier(.68,-0.55,0.265,1.55) both;
        
    }

    @keyframes roll-in-left{
        0%{
            transform:translate(-800px)rotate(-540deg);
            opacity: 0;
        }
        100%{
            transform: translateX(0)rotate(0deg);
            opacity: 1;
        }
    }

    nav .logo {
        /*float: left;*/
    }
    nav .menu {
        /*float: left;*/
        /*margin-left: 20px;*/
    }
    nav .login {
        /*float: right;*/
    }
    nav li {
        list-style: none;
        /*float: left;*/    /*因為屬於直式的格式，所以不需要用到float*/
    }
    nav a {
        display: block;
        line-height: 50px;
        color: #fff;
        text-decoration: none;
        padding: 0 10px;
    }
    nav a:hover {
        color: #1b2a49
    }
    /* HEADER */
    header {
        padding-top: 200px;
        padding-bottom: 200px;
        background: url("https://picsum.photos/id/1/1600/800") no-repeat center center fixed;
        background-size: cover;
        text-align: center;
        color: #fff;
    }
    /* header {
        display: table;
        height: 600px;
        background: url("https://picsum.photos/id/1/1600/800") no-repeat center center;
        background-size: cover;
    }
    header .fixed-width {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    } */

    header h1 {
        font-size: 48px;
        text-shadow: 2px 2px 3px rgba(0,0,0,.8);
    }
    header p {
        text-shadow: 2px 2px 3px rgba(0,0,0,.8);
        font-size: 26px;
        margin-bottom: 15px;
    }
    header a {
        color: #fff;
    }
    /* PRODUCT */
    #product {
        padding-top:100px;
        padding-bottom:100px;
        background: #eef5b2;
    }
    #product img{
        padding: 20px;
        
    }
    
    
    #image_start img,p{
        padding:50px;
        animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) backwards;
        animation-delay: .6s;
        transition:.6s;
        line-height: 50px;
        font-size: 20px;
    }

    
    

    @keyframes slide-in-blurred-top {
        0% {
          
          transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
          transform-origin: 50% 0%;
          filter: blur(40px);
          opacity: 0;
        }
        
        100% {
            transform: translateY(0) scaleY(1) scaleX(1);
            transform-origin: 50% 50%;
            filter: blur(0);
            opacity: 1;
        }
    }
    #image_start img:hover{
        transform: rotate3d(1, 2, -1, 1080deg)scale(1);
    }
    
    #image_start p{
        padding-top: 0px;
    }
    .img_first,.img_second{
        display: block;
        /* top:50%;
        left:50%; */
        /* margin:auto; */
        /* vertical-align: middle; */
    }



    /* cube */

    .space{
        width: 200px;
        height: 200px;
        position: relative;
        perspective: 800px;
        margin: 15% auto;
        /* background:pink; */
        /* float:none; */
        /* display:none; */
    }
    .space_show{
        animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    }
    @keyframes roll-in-blurred-left {
        0% {
            transform: translateX(-1000px);
            filter:blur(50px);
            opacity: 0;
        }
        100%{
            transform:translateX(0px);
            filter:blur(0);
            opacity: 1;
        }
    }
    .space:hover .cube{
        transform: rotateX(130deg)rotateY(360deg)rotateZ(180deg);
    }
    .cube{
        width: 100%;
        height: 100%;
        position: absolute;
        transform:rotateX(30deg)rotateY(20deg);
        transition:.5s;
        transform-style:preserve-3d;/*預設式扁平，
        必須要設這個才能跑出3D*/
    }
    
    .cube div{
        width: 100%;
        height: 100%;
        position: absolute;
        /* background-image:linear-gradient(45deg,red,blue); */
        
    }
    .front{
        transform: translateZ(100px);
        background: url("https://i.ytimg.com/vi/DQuhA5ZCV9M/maxresdefault.jpg") no-repeat center center fixed;
        background-size: cover;
    }
    .back{
        transform: rotate(180deg)translateZ(100px);
        background: url("https://i.ytimg.com/vi/hWiGXNBlAhI/maxresdefault.jpg") no-repeat center center fixed;
        background-size: cover;
    }
    .left{
        transform: rotateY(-90deg)translateZ(100px);
        background: url("https://i.ytimg.com/vi/QHBu0W_7zRk/maxresdefault.jpg") no-repeat center center fixed;
        background-size: cover;
    }
    .right{
        transform: rotateY(90deg)translateZ(100px);
        background: url("https://i.ytimg.com/vi/pG6kSm1wWFI/maxresdefault.jpg") no-repeat center center fixed;
        background-size: cover;
    }
    .top{
        transform: rotateX(90deg)translateZ(100px);
        background: url("https://c1.staticflickr.com/7/6208/6052641311_a1022ae24d_b.jpg") no-repeat center center fixed;
        background-size: cover;
    }
    .bottom{
        transform: rotateX(-90deg)translateZ(100px);
        background: url("https://upload.wikimedia.org/wikipedia/commons/4/46/Greenland_scenery.jpg") no-repeat center center fixed;
        background-size: cover;
    }




    /* cube_end */


    .bgwhite{
        background: white;
        width: 100%;
        /* height:300px; */
        margin: auto;
        padding: 0;
    }
    .bgwhite h1{
        padding: 35px;
        padding-bottom: 0px;
        position: relative;
    }
    .bgwhite p{
        /* margin-top:50px; */
        /* position: absolute; */
        font-size: 16px;
        line-height: 30px;
    }



    /* AD */
    /* #ad {
        padding-top: 120px;
        padding-bottom: 120px;
        background: url("https://picsum.photos/id/190/1600/800")no-repeat center center;
        background-size: cover;
        text-align: center;
    } */
    #ad {
        height: 0;
        padding-bottom: 25%;
    }
    /* ACTION */
    #action {
        padding-top: 100px;
        padding-bottom: 100px;
        background: #dafff0;
    }
    #action h3 {
        font-size: 26px;
    }
    #action p {
        margin: 30px 0;
        letter-spacing: 1px;
        line-height: 1.5;
    }
    /* BUSINESS */
    #business a {
        background: #000;
        display: block;
    }
    #business a:hover img{
        opacity: .5;
    }
    #service{
        padding-top:100px;
        padding-bottom:100px;
        background: #9dd8c8;
    }
    #service p{
        margin:30px 0;
        letter-spacing: 1px;
        line-height: 1.5;
    }
    #service-bottom{
        padding-top: 100px;
        padding-bottom:100px;
        background: #daf5ee;
    }
    #service-bottom p{
        margin:30px 0;
        letter-spacing: 1px;
        line-height: 1.5;
    }
    footer{
        padding-top:100px;
        padding-bottom:100px;
        background:#eee;
    }
    footer h3{
        margin-bottom: 15px;
    }
    footer li{
        list-style:none;
        line-height: 2em;
        font-size: 14px;
    }
    footer a{
        color:#666;
        text-decoration: none;
    }
    footer .sns a:hover{
        /*text-decoration: underline;*/
        color:#eee;
        border:1px solid #666;
        background: #666;
    }
    .sns a{
        display:inline-block;
        border:1px solid #666;
        width:45px;
        height: 45px;
        text-align: center;
        line-height: 45px;
        font-size: 16px;
        margin-right: 10px;
        border-radius:50%;
    }
    .sns{
        font-size: 0;
    }
    #copyright{
        background: #ccc;
        font-size: 14px;
    }
    #copyright a{
        color:#222;
        font-size: 14px;
        margin:0 10px;
    }
